header {
    border-bottom: 1.5px solid #e0e0e0; /* hoặc màu bạn muốn */
    box-shadow: 0 4px 5px rgba(0,0,0,0.18); /* hiệu ứng đổ bóng nhẹ phía dưới */
}

.nav-link.custom-tab {
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    position: relative;
}

.nav-link.custom-tab:hover {
    background-color: #C1440E;
}

.nav-link.custom-tab:hover .menu-triangle {
    border-top-color: #C1440E;
}

.profile {
    color: white;
}
.dropdown-link {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

    .dropdown-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        bottom: -15px;
        background-color: #00bfff; /* xanh dương */
    }

.dropdown-link:hover {
    color: #00bfff;
}
    .dropdown-link:hover::after {
        width: 100%;
    }

.menu-triangle {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1d2452;
    z-index: 10;
}






